@import "tailwindcss";

:root {
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  background: #000;
}

body {
  min-height: 100vh;
  margin: 0;
  background: #262626;
  font-family: Arial, Helvetica, sans-serif;
}

button,
a,
input,
select,
textarea {
  font: inherit;
}
/* @import "tailwindcss";

code {
  @apply bg-white/10 p-2 rounded-2xl;
} */
