# This is the environment base layouts for the project
#



# FOR nginx container

# PATH of nginx key and certificates used for the 
# The https protocol
# 
NGINX_CERT_DIR="/nginx/cert"
NGINX_EXPOSE_PORT=443
NGINX_BIND_PORT=4333
