# This is the environment base layouts for the project

#
TRANSCENDENCE_DOMAIN_NAME="transcendence.russmp.duckdns.org"

# FOR nginx container

# PATH of nginx key and certificates used for the 
# The https protocol
# 
NGINX_CERT_DIR="/nginx/cert"
NGINX_EXPOSE_PORT=443
NGINX_BIND_PORT=4333



# For NextJS

# The directory of nextjs overrall
NEXTJS_DATA_DIR="./dockers/nextjs/data"
NEXTJS_EXPOSE_PORT=3000

NESTJS_DATA_DIR="./dockers/nestjs/data"
NESTJS_EXPOSE_PORT=3001
NESTJS_JWT_KEY_RANDOM_SECRET_FILENAME=jwt_key.txt
NESTJS_JWT_EXPIRE_TIME=12h
NESTJS_JWT_REFRESH_KEY_RANDOM_SECRET_FILENAME=jwt_refresh_key.txt
NESTJS_JWT_REFRESH_EXPIRE_TIME=7d


# Postgresql Environment
POSTGRES_USER=transcend
POSTGRES_DB=transcend
POSTGRES_DB_PASSWORD_SECRET_FILENAME=db_password.txt
POSTGRES_DATA_PATH=/var/lib/postgresql/data
POSTGRES_EXPOSE_PORT=5432
POSTGRES_DATA_DIR="./dockers/postgresql/data"
POSTGRES_SYNCHRONIZE=true

REDIS_DATA_DIR="./dockers/redis/data"
REDIS_EXPOSE_PORT=2345

DOZZLE_EXPOSE_PORT=8888

REDIS_INSIGHT_PORT=5540


DOCKER_SOCKET_PATH=/run/user/id/docker.sock

