# This is the environment base layouts for the project
#
TRANCENDENCE_DOMAIN_NAME="transcendence.russmp.duckdns.org"

# FOR nginx container

# PATH of nginx key and certificates used for the 
# The https protocol
# 
NGINX_CERT_DIR="/nginx/cert"
NGINX_EXPOSE_PORT=443
NGINX_BIND_PORT=4333


# For NextJS

# The directory of nextjs overrall
NEXTJS_DATA_DIR="./nextjs/nextjs"
NEXTJS_EXPOSE_PORT=3000


